.homepage-container {
  padding: 20px;
  direction: rtl;
  min-height: 100vh;         /* גובה מינימלי של כל הדף */
  overflow-y: auto;          /* אפשר גלילה */
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    width: 280px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
  }
  
  .product-card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .product-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 12px;
  }
  
  .product-title {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 8px;
  }
  
  .product-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #2e7d32;
    margin-bottom: 8px;
  }
  
  .product-category {
    font-size: 0.9rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 6px;
  }
  
  .product-description {
    font-size: 0.85rem;
    text-align: center;
    color: #666;
    margin-bottom: 8px;
  }
  
  .product-rating {
    font-size: 0.9rem;
    color: #fbc02d;
    margin-bottom: 12px;
  }
  
  .add-button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 14px;
    margin-top: 10px; ;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .add-button:hover {
    background-color: #115293;
  }
  